{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Why Us?</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 text-center">
                 <h4 class="about-header mt-5">
                     SCIENCE-BASED PROGRAMS
                 </h4>
                 <h2 class="about-header mt-5">
                    The most effective wat to get the body you want!! 
                 </h2>

                 <p class="mt-5">
                    Every exercise and nutrition plan in each program uses the most scientifically effective 
                    methods for obtaining the attractive physique you want. This way, 
                    you'll reach your goals in the shortest time without wasting any energy.
                 </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 text-center border-black pb-3 pt-2">
                <!-- https://github.com/RubySrivastava/ms4-fitnesswellness/blob/master/home/templates/home/index.html -->
                <div class="slideshow-container">
                    <!-- Full-width slides/quotes -->
                    {% for testimonial in testimony %}
                        <div class="mySlides pt-3">
                            <q class="testimonial-para">{{ testimonial.testimony }}</q>
                            <p class="testimonial-para">- {{ testimonial.name }}</p>
                        </div>
                    {% endfor %}
                    <!-- Next/prev buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- https://github.com/RubySrivastava/ms4-fitnesswellness/blob/master/home/templates/home/index.html -->
{% block postloadjs %}
{{ block.super }}
<!--Script for SlideShow Quotes-->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
{% endblock %}

